.video-card {
    width: 270px;
    margin-bottom: 40px;

    &__thumbnail {
        width: 250px;
        height: 140px;
    }

    &__info {
        display: flex;
        margin-top: 10px;
        padding-right: 30px;
    }

    &__avatar {
        width: 30px !important;
        height: 30px !important;
    }

    &__text {
        margin-left: 15px;

        > h4 {
            font-size: 14px;
            margin-bottom: 5px;
        }

        > p {
            font-size: 14px;
            color: gray;
        }
    }
}
