.channel-row {
    display: flex;
    align-items: center;
    width: 70%;

    &__text {
        display: flex;
        flex-direction: column;

        > p {
            color: #606060;
            font-size: small !important;
        }
    }

    &__logo {
        width: 120px !important;
        height: 120px !important;
        margin: 10px 60px;
    }

    &__text {
        > h4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
