.sidebar {
    flex: 0.2;

    .row {
        display: flex;
        align-items: center;
        padding: 10px 15px;

        &__icon {
            color: #606060;
            font-size: large !important;

            &.selected {
                color: red;
            }
        }

        &__title {
            flex: 1;
            margin: 0 0 0 20px;
            font-size: 12px;
            font-weight: 500;
        }

        &:hover {
            background-color: lightgray;
            cursor: pointer;

            .row__icon {
                color: red;
            }
        }

        &.selected {
            background-color: lightgray;
        }
    }

    hr {
        margin-left: 15px;
        margin-right: 15px;
    }
}
